body {
    /* background: url('../images/A1.png') no-repeat center center fixed;
    background-size: cover;
    animation: slide 20s linear infinite; */

    background-color: rgb(255, 255, 255);
    user-select: none; /* 禁用文本选择 */
    -moz-user-select: none; /* 禁用 Firefox 中的文本选择 */
    -webkit-user-select: none; /* 禁用 Chrome 和 Safari 中的文本选择 */
    -ms-user-select: none; 

    font-family: 'KaiTi';
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'KaiTi';
}

/* @keyframes slide {
    0% { background-position: 0% 0%; }
    100% { background-position: 100% 0%; }
} */

/*简单的背景滚动*/

/* #myhd >h1{
    text-align: center; 
    color:rgba(232, 199, 32, 0.93);
    font-size: 65px;
    font-family: 'KaiTi';
    margin-top:5%;
    height: 30px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.6);
} */

#timeline{
    height: 400px;
}


#myhd a {
    text-align: center;font-size: 32px;height: 40px;
}
/*导航栏按钮的字体以及宽度设置 */
